
// btn-variant-loops
@each $color, $value in $theme-colors {
  $theme-color: var(--#{$variable-prefix}#{$color}, $value);
  $theme-color-rgb: var(--#{$variable-prefix}#{$color}-rgb, $value);
  $theme-color-light: var(--#{$variable-prefix}#{$color}--light, $value);
  $theme-color-lighter: var(--#{$variable-prefix}#{$color}--lighter, $value);

  .btn-#{$color} {
    background-color: $theme-color;
    border-color: $theme-color;

    &:hover {
      background-color: $theme-color-light;
      border-color: $theme-color-light;
    }
    &:active {
      background-color: $theme-color-lighter;
      border-color: $theme-color-lighter;
    }
    &:active:focus {
      box-shadow: 0 0 0 0.25rem rgba($theme-color-rgb, 0.5);
    }
  }
  .btn-outline-#{$color} {
    color: $theme-color;
    border-color: $theme-color;

    &:hover {
      color: #000;
      background-color: $theme-color;
      border-color: $theme-color;
    }
    &:active:focus {
      box-shadow: 0 0 0 0.25rem rgba($theme-color-rgb, 0.5);
    }
  }
}
// alert-variant-loops
@each $color, $value in $theme-colors {
  $theme-color: var(--#{$variable-prefix}#{$color}, $value);
  $theme-color-lighter: var(--#{$variable-prefix}#{$color}--lighter, $value);

  .alert-#{$color} {
    background-color: $theme-color-lighter;
    border-color: $theme-color-lighter;
  }
}

// table-variant-loops
@each $color, $value in $theme-colors {
  $theme-color: var(--#{$variable-prefix}#{$color}--lighter, $value);

  .table-#{$color} {
    $border-color: $theme-color;
    $striped-bg: $theme-color;
    $active-bg: $theme-color;
    $hover-bg: $theme-color;

    --#{$variable-prefix}table-bg: #{$theme-color};
    --#{$variable-prefix}table-border-color: #{$border-color};
    --#{$variable-prefix}table-striped-bg: #{$striped-bg};
    // --#{$variable-prefix}table-striped-color: #{color-contrast($striped-bg)};
    --#{$variable-prefix}table-active-bg: #{$active-bg};
    // --#{$variable-prefix}table-active-color: #{color-contrast($active-bg)};
    --#{$variable-prefix}table-hover-bg: #{$hover-bg};
    // --#{$variable-prefix}table-hover-color: #{color-contrast($hover-bg)};

    color: #000;
    border-color: var(--#{$variable-prefix}table-border-color);
  }
}

// link-variant-loops
@each $color, $value in $theme-colors {
  $theme-color: var(--#{$variable-prefix}#{$color}, $value);
  $theme-color-light: var(--#{$variable-prefix}#{$color}--light, $value);

  .link-#{$color} {
    color: $theme-color;

    &:hover, &:focus {
      color: $theme-color-light;
    }
  }
}